.footer
    border-top: 4px solid #FEAE02
    position: relative
    background-color: #fff
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1)
    padding: 20px
    text-align: center
    font-size: 14px
    color: #6c757d
    
    &__links
        display: flex
        flex-direction: column
        align-items: flex-start
        gap: 10px
        margin-top: 10px
        & a
            color: #6c757d
            text-decoration: none
            &:hover
                text-decoration: underline

    &__logo
        display: flex
        flex-direction: column
        align-items: flex-start
        justify-content: flex-start
        gap: 10px

        & img
            height: 50px
            width: auto
    
    &__content
        margin: 20px
        display: flex
        flex-direction: row
        justify-content: flex-start
        gap: 100px
        width: 100%

        &__company
            margin-top: 20px
            display: flex
            flex-direction: column
            align-items: flex-start
            gap: 10px
            h1
                font-size: 14px
                font-weight: bold
                color: #343a40
        
        &__products
            margin-top: 20px
            display: flex
            flex-direction: column
            align-items: flex-start
            gap: 10px
            h1
                font-size: 14px
                font-weight: bold
                color: #343a40
        
        &__cs
            margin-top: 20px
            display: flex
            flex-direction: column
            align-items: flex-start
            gap: 10px
            h1
                font-size: 14px
                font-weight: bold
                color: #343a40
            p
                text-decoration: underline      
    &__socials
        display: flex
        flex-direction: row
        justify-content: flex-start
        gap: 20px
        margin-top: 20px
        &__links
            display: flex
            flex-direction: row
            a
                color: #6c757d
                text-decoration: none
                &:hover
                    & img
                        filter: brightness(0.8)
        & img
            width: 20px
            height: 20px
            margin-right: 10px

    @media (max-width: 768px)
        &__content
            flex-direction: column
            align-items: flex-start
            gap: 5px

            &__company
                gap: 2px
            &__products
                gap: 2px
            &__cs
                gap: 2px


    &__socials
        display: flex
        flex-direction: row
        margin: 0 20px
        h1
            font-size: 14px
            font-weight: bold
            color: #343a40
            margin-right: 20px
        &__links
            display: flex
            flex-direction: row
            gap: 20px
        @media (max-width: 768px)
            display: flex
            flex-direction: column
            align-items: flex-start
            gap: 10px
            
    &__copyright
        margin-top: 50px
        font-size: 12px
        color: #6c757d

