
.slider
    overflow: hidden
    width: 100%
    cursor: grab
    user-select: none
    touch-action: pan-y

    &__track
        display: flex
        will-change: transform

    &__item
        flex: 0 0 auto
        padding: 0 1rem
        display: flex
        justify-content: center
        align-items: center

    &__img
        width: 100%
        max-width: 100px
        height: auto

